{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div style="text-align:center; clear: both;"><h1> Beer Game 2.0 </h1></div>
<div style="text-align:center; clear: both;"><a href="{{url_for('home')}}">Home</a></div>

<div style="text-align:center; clear: both;"><h2> Period {{state.get("Current Period no.")}} Begin State </h2></div>

<div>
<div style="float:left">
<table class="center">
  <tr>
    <th>Observations</th>
    <th>Value</th>
  </tr>
  {% for k, v in state.items() %}
  <tr>
    <td>{{ k }}</td>
    <td>{{ v }}</td>
  </tr>
  {% endfor %}
</table>
<hr>
</div>

<div style='float:right'>
    <img src="{{ url_for('static', filename='NetworkCosts.JPG') }}" height="250" width="500">
</div>
</div>

<div style="text-align:center; clear: both;"><h2> Enter Actions For Current Period </h2></div>
<br>
<form method="POST">
    {{ form.csrf_token }}
    {{ wtf.form_field(form.RetailerOrderQty) }}
    {{ wtf.form_field(form.WholesalerOrderQty) }}
    {{ wtf.form_field(form.DistributorOrderQty) }}
    <center>
    {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}
    </center>
</form>

{% endblock %}
