{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div style="text-align:center; clear: both;"><h1> Beer Game 2.0 </h1></div>
<div style="text-align:center; clear: both; font-weight: bold;"><h3 id="header"> Multi-Echelon Inventory Optimization </h3></div>
<div style="text-align:center; clear: both; font-weight: bold;"><h4 id="header"> The Beer Game 2.0 Network </h4></div>

<div>
    <img src="{{ url_for('static', filename='SCNetwork.JPG') }}" class="center">
</div>

<hr>

<div style="text-align:center; clear: both;">
  <span style="display:inline;">
      <a href="{{url_for('init_game')}}"><button type="button" class="btn btn-primary" name="new_build">Proceed</button></a> &nbsp;
  </span>
</div>

{% endblock %}
